p{
    background-color: blanchedalmond;
    color: gray;
}
a {
    background-color: antiquewhite;
    color: blue;
}
div {
    background-color: aqua;
    color: blueviolet;
}
span {
    background-color: black;
    color: azure;
}